/* CITY TRACKS PAGE */

#playlists {
  overflow: hidden;
}

#playlists > p {
  margin-top: 20px;
  color: #213950;
  font-weight: 300;
  font-size: 30px;
  padding-left: 15px;
  text-align: center;
}

#playlists .posts {
  margin-top: 40px;
  text-align: center;
}

#playlists .posts > li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 280px;
  margin: 0 10px 50px 10px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
}

#playlists .thumb {
  position: relative;
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3);
}

#playlists .username {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 32px;
  text-align: left;
  z-index: 1;
}

#playlists .username span {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 18px;
  border: 2px solid #fff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -o-border-radius: 18px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.7);
}

#playlists .username p {
  display: inline-block;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#playlists .title {
  display: block;
  margin-top: 10px;
  text-align: left;
}

#playlists .plName {
  display: block;
  margin: 10px 10px 0 10px;
  font-size: 22px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#playlists .plName a {
  color: #383a3b;
}

#playlists .nbTracks {
  display: block;
  margin: 10px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

#playlists .artists {
  margin: 0 10px 15px 10px;
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#playlists .play {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  background: url(/images/icon-post-play3.png) no-repeat center center,
    rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 22px;
}

#playlists > li > a:hover .play {
  background: url(/images/icon-post-play3.png) no-repeat center center,
    rgba(0, 0, 0, 0.9);
}

#playlists li:nth-last-child(1),
#playlists li:nth-last-child(2),
#playlists li:nth-last-child(3) {
  margin-bottom: 0;
}

#playlists .genres ul {
  position: absolute;
  top: 237px;
  right: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#playlists .genres li {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 5px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  font-weight: bold;
  color: #fff;
}
