/* CITY TRACKS PAGE */

.pgCitySection #overlay {
  display: none;
}

#genres {
  float: left;
  width: 200px;
}

#genres > p {
  color: #213950;
  font-weight: 300;
  font-size: 30px;
  padding-left: 15px;
}

#genres ul {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

#genres li {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 30px;
  margin: 10px 15px 0 0;
  display: block;
  padding: 0 0 0 15px;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
}

#genres li.selected {
  background: #0074cd;
  color: #fff;
}

#tracks {
  float: right;
  width: 768px;
  margin-bottom: 40px;
  overflow: hidden;
}

#tracks > p {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: #213950;
}

#tracks .posts {
  margin-top: 20px;
  padding-left: 35px;
}

#tracks .post {
  height: 120px;
  min-height: 120px;
  margin: 0;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#tracks .post:first-child {
  margin-top: 0;
}

#tracks .post > .thumb {
  width: 120px;
  height: 120px;
}

#tracks .title {
  display: inline-block;
  width: 568px;
  line-height: 25px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
  color: #3177af;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tracks .author {
  font-size: 16px;
}

#tracks .author span {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

div > p {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
}

.pgCitySection .post > h2 {
  color: black;
}

.post > .author a {
  color: rgba(0, 0, 0, 0.75);
}
