<script src="/js/hotTracks.js"></script>

<div class="container pgHotTracks">
  <div id="filterSelector">
    <h2 class="head-name-tab">Select a genre</h2>
    <ul id="genres"></ul>
    <div id="sideFooter">
      <ul>
        <li>
          <a target="_blank" href="https://github.com/openwhyd">GitHub</a>
        </li>
        <li>
          <a target="_blank" href="http://www.facebook.com/openwhyd"
            >Facebook</a
          >
        </li>
        <li>
          <a target="_blank" href="http://twitter.com/open_whyd">Twitter</a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://github.com/openwhyd/openwhyd/blob/master/docs/FAQ.md"
            >FAQ</a
          >
        </li>
      </ul>
      <p>Openwhyd is maintained collaboratively,<br />under the MIT License</p>
    </div>
  </div>
  <div class="sub-container">
    <h2 class="head-name-tab">
      Hot tracks
      <span class="genreSelector"></span>
    </h2>
    <div class="posts">
      <div class="btnLoadMore" onclick="hotTracks.loadMore()">
        <div>&nbsp;</div>
        <span>Load more</span>
      </div>
    </div>
    <!-- end posts -->
  </div>
</div>
