<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="robots" content="noindex" />
    <title>{{title}}</title>
    <link rel="image_src" href="{{pageThumb}}" />
    <meta property="og:image" content="{{pageThumb}}" />
    <meta property="og:description" content="{{pageDesc}}" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <!--<script src="/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.js"></script>

    <style type="text/css">
      /*<![CDATA[*/

      body {
        background: #efefef;
      }

      h1 {
        line-height: 50px;
        font-size: 28px;
        color: #2f2f2f;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
      }

      #contentPane > div {
        position: relative;
        width: 440px;
        margin: 0 auto;
        border-radius: 3px;
      }

      #registerBox {
        margin-top: 40px;
        background: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      }

      h2 {
        margin: 0 40px;
        padding-top: 30px;
        font-weight: normal;
        font-size: 28px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        color: #444444;
      }

      #registerBox a.fbConnect {
        display: block;
        border: none;
        background: url(/images/fb-sign-up.png) no-repeat;
        width: 352px;
        height: 53px;
        margin: 20px auto;
      }

      #registerBox a.fbConnect:hover {
        background-position: 0 -54px;
      }

      #registerBox a.fbConnect:active {
        background-position: 0 -108px;
      }

      #registerBox .emailReg {
        border-top: 1px solid #eee;
        line-height: 30px;
        padding-bottom: 30px;
        margin: 40px auto;
        font-size: 18px;
      }

      #registerBox .emailReg > div#or {
        position: relative;
        top: -17px;
        width: 50px;
        margin: 0 auto;
        color: #888;
        font-style: italic;
        background: white;
        text-align: center;
      }

      #registerBox .emailReg > span {
        margin: 0 40px;
        color: #357bd1;
        cursor: pointer;
      }

      #registerBox .emailReg > #withoutFb {
        display: none;
        overflow: auto;
        margin-left: 40px;
      }

      #registerBox .emailReg > #withoutFb > .submit {
        width: 80px;
        padding: 5px;
      }

      /* sign up fields */

      .fld > input {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        padding: 12px 10px;
        width: 340px;
        font-size: 13px;
        color: #575757;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3;
        border: 1px solid #9da3a7;
        margin-bottom: 14px;
      }

      .fld > input:focus {
        outline: none;
        border: 1px solid #2577bc;
        box-shadow: 0 0 5px rgba(37, 119, 188, 1);
        -webkit-box-shadow: 0 0 5px rgba(37, 119, 188, 1);
        -moz-box-shadow: 0 0 5px rgba(37, 119, 188, 1);
      }

      .fld > input.error {
        outline: none;
        border: 1px solid #bc2525;
        box-shadow: 0 0 5px rgba(251, 101, 101, 1);
        -webkit-box-shadow: 0 0 5px rgba(251, 101, 101, 1);
        -moz-box-shadow: 0 0 5px rgba(251, 101, 101, 1);
        background-image: none !important;
      }

      .fld > input.ok {
        background: #f6ffe4;
        outline: none;
        border: 1px solid #7da729;
        box-shadow: 0 0 5px rgba(169, 208, 90, 1);
        -webkit-box-shadow: 0 0 5px rgba(169, 208, 90, 1);
        -moz-box-shadow: 0 0 5px rgba(169, 208, 90, 1);
      }

      /* login box */

      #loginBox {
        position: relative;
        top: 20px;
        background: #ddd;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        color: #666;
        font-size: 13px;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 1);
        padding: 30px 0;
      }

      #loginBox > span {
        margin-left: 40px;
      }

      /*]]>*/
    </style>
    {{{head}}}
  </head>
  <body>
    <div id="fb-root"></div>

    <script>
      window.Whyd.tracking.log("Visit invite page"{{#sender}}, "{{id}}"{{/sender}});
    </script>

    <div id="header">
      <div class="container">
        <div id="headCenter">
          <a target="_top" class="homeLink" href="/"
            ><img id="logo" src="/images/logo-s.png"
          /></a>
        </div>
      </div>
    </div>

    <div id="contentPane">
      <h1>
        {{#sender}}Yay! You've been invited by {{name}} to join
        Openwhyd.{{/sender}}
      </h1>
      <div id="registerBox">
        <h2>Join Openwhyd</h2>
        <a class="fbConnect" href="#"></a>
        <div class="emailReg dlgSignIn">
          <div id="or">Or</div>
          <span onclick="$(this).hide().parent().find('form').show();">
            Create an account using my e-mail address
          </span>
          <form id="withoutFb" action="/register" method="post">
            <input type="hidden" name="inviteCode" value="{{inviteCode}}" />
            <input type="hidden" name="fbRequest" value="{{fbRequest}}" />
            <input type="hidden" name="fbUid" value="" />
            <input type="hidden" name="fbTok" value="" />
            <input
              type="hidden"
              name="iBy"
              value="{{#sender}}{{id}}{{/sender}}"
            />
            <input type="hidden" name="iPo" value="{{iPo}}" />
            <input type="hidden" name="iRf" value="{{iRf}}" />
            <input type="hidden" name="iPg" value="{{iPg}}" />
            <input type="hidden" name="plC" value="{{plC}}" />
            {{#redirect}}<input
              type="hidden"
              name="redirect"
              value="{{redirect}}"
            />{{/redirect}}
            <input type="hidden" name="ajax" value="true" />
            <div class="fld fldName">
              <input type="text" name="name" placeholder="Full name" value="" />
            </div>
            <div class="fld fldEmail">
              <input
                type="text"
                name="email"
                placeholder="E-mail address"
                value="{{email}}"
              />
            </div>
            <div class="fld fldPassword">
              <input
                type="password"
                name="password"
                placeholder="Password"
                value=""
              />
            </div>
            <input type="hidden" name="includeUser" value="1" />
            <input
              type="submit"
              class="btnCreateAccount greenButton"
              value="Sign Up"
            />
          </form>
        </div>
      </div>
      <div id="loginBox">
        <span>Already a Openwhyd member?</span>
        <a href="/login{{#redirect}}?redirect={{redirect}}{{/redirect}}"
          >Log in now</a
        >
      </div>
    </div>

    <!-- https://gist.github.com/968927 -->
    <iframe src="/html/dummy.html" name="dummy" style="display: none"></iframe>
    <script
      src="/js/jquery.iframe-post-form.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>

    <script
      src="/js/jquery.placeholder.min.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/facebook.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script src="/js/ui.js" type="text/javascript" charset="utf-8"></script>

    <script>
      //<![CDATA[
      var redirect = '{{redirect}}';

      if ('{{loggedUid}}' != '')
        window.location.href = redirect || '{{whydUrl}}';

      $(function () {
        var $form = $('form#withoutFb');
        var $name = $('input[name=name]');
        var $email = $('input[name=email]');
        var $password = $('input[name=password]');

        var $referrer = $('input[name=iRf]');
        if (!$referrer.val())
          $referrer.val(document.referrer || window.location.href);

        function resetFields() {
          $('.fld.error').removeClass('error');
        }

        function error() {
          $(this).parent().addClass('error');
        }

        if ($.fn.placeholder()) $('[placeholder]').placeholder();

        $('a.fbConnect').click(function () {
          fbLogin('email', function (res) {
            if (!res) console.log('no fb login');
            else if (res.redirect)
              //console.log("redirect to ", res.redirect);
              window.location.href = redirect || res.redirect;
            else if (res.fbUser) {
              // new user
              $('input[name=fbUid]').val(res.fbUser.id);
              $('input[name=fbTok]').val(
                (res.fbAuthResponse || {}).accessToken
              );
              $name.val(res.fbUser.name);
              $email.val(res.fbUser.email);
              $('.emailReg > span[onclick]').click();

              $('.fbConnect').hide();
              $('#or').hide();
              $('.emailReg').css('border-top', 'none');
            }
          });
        });

        //var logging = new WhydLogging();

        $form.iframePostForm({
          //post : onPosting,
          complete: function (res) {
            resetFields();
            $('input[type=submit]').removeClass('loading');
            res = res.substring(res.indexOf('{'), res.lastIndexOf('}') + 1);
            res = JSON.parse(res);
            // console.log('response', res);
            if (res.error) {
              console.log('invitePage error', res.error);
              if (res.error.indexOf('name') != -1) $name.each(error);
              else if (res.error.indexOf('email') != -1) $email.each(error);
              else if (res.error.indexOf('password') != -1)
                $password.each(error);
              else $('form input').each(error);
              showMessage(res.error, true);
            } else if (res.redirect) {
              window.Whyd.tracking.signedUp(res.user);
              setTimeout(function () {
                window.location.href = redirect || res.redirect;
              }, 500);
            }
          },
        });
      });

      $(document).ready(function () {
        if ('{{error}}') showMessage('{{error}}', true);
      });

      //]]>
    </script>

    <script
      src="/api/signup/rTk/7"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <!-- for genuine signup -->

    {{{footer}}}
  </body>
</html>
