<!--<link href="/css/onboarding.css" rel="stylesheet" type="text/css" />-->
<div class="container">
  <div id="progress">
    <div id="progress1">
      <div><span>1</span></div>
      <p>Genres</p>
    </div>
    <div id="progress2">
      <div><span>2</span></div>
      <p>Music lovers</p>
    </div>
    <div id="progress3">
      <div><span>3</span></div>
      <p>Button</p>
    </div>
  </div>

  {{#stepGenres}}
  <form action="/pick/people" method="POST">
    <input type="hidden" name="step" value="people" />
    <input type="hidden" name="genres" />
  </form>
  <a
    id="btnNext"
    href="javascript:return false;"
    style="display: none"
    class="no-ajaxy"
    >Next</a
  >
  <h1>
    Pick your favorite genres so we can suggest you music lovers to subscribe to
  </h1>
  <ul class="whitePanel" id="genreGallery">
    <li style="background-image: url('/images/OnboardingGenreElectro.jpg')">
      <p><span>Electronic</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreHipHop.jpg')">
      <p><span>Hip hop</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreIndie.jpg')">
      <p><span>Indie</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreFolk.jpg')">
      <p><span>Folk</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreRock.jpg')">
      <p><span>Rock</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenrePunk.jpg')">
      <p><span>Punk</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreMetal.jpg')">
      <p><span>Metal</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreBlues.jpg')">
      <p><span>Blues</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreRNB.jpg')">
      <p><span>R&amp;B</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreSoul.jpg')">
      <p><span>Soul</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreJazz.jpg')">
      <p><span>Jazz</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreClassical.jpg')">
      <p><span>Classical</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreReggae.jpg')">
      <p><span>Reggae</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenrePop.jpg')">
      <p><span>Pop</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreLatin.jpg')">
      <p><span>Latin</span></p>
    </li>
    <li style="background-image: url('/images/OnboardingGenreWorld.jpg')">
      <p><span>World</span></p>
    </li>
  </ul>
  {{/stepGenres}} {{#stepPeople}}
  <a
    id="btnNext"
    href="javascript:return false;"
    style="display: none"
    class="no-ajaxy"
    >Next</a
  >
  <h1>Looking for relevant music lovers...</h1>
  <div class="whitePanel" id="recomUsers" style="display: none">
    <ul class="userList"></ul>
  </div>
  {{/stepPeople}} {{#stepButton}}
  <a id="btnNext" href="/welcome" class="no-ajaxy">Next</a>
  <h1>
    Save songs from YouTube, SoundCloud and other websites straight to Openwhyd
  </h1>

  <!-- for chrome only: extension -->

  <div class="whitePanel topBkPanel modeExt">
    <div class="installExtensionBlock">
      <a
        id="btnInstallChromeExt"
        class="greenButton"
        href="https://chrome.google.com/webstore/detail/foohaghobcolamikniehcnnijdjehfjk"
        target="_blank"
        >Install Now</a
      >
      <p>
        Click on the "Install Now" button to add it to your browser, then click
        on it when you find <strong>a cool track you want to add</strong> to
        your library.
      </p>
      <p>
        <a href="/bookmarklet" class="toggleMode no-ajaxy">See other button</a>
      </p>
    </div>
  </div>

  <div class="whitePanel modeExt">
    <h2>What's that?</h2>
    <p>
      To instantly add tracks to your Openwhyd stream that you find across the
      web, from any website, we built the Openwhyd "add track" button. Drag the
      button to your bookmarks bar to install it, and then you can save the new
      tracks you find and share immediately from sites like Facebook and music
      blogs. It's super fast and super simple.
    </p>
    <div class="work">
      <p>Work with track from:</p>
      <ul>
        <li>
          <img
            src="/images/youtubeLogoExtension.png"
            alt="Youtube"
            width="70"
            height="40"
          />
        </li>
        <li class="special">
          <img
            src="/images/soundcloudLogoExtension.png"
            alt="Soundcloud"
            width="70"
            height="40"
          />
        </li>
        <li class="last">
          <img
            src="/images/vimeoLogoExtension.png"
            alt="Vimeo"
            width="70"
            height="40"
          />
        </li>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="howToUseButtonNormal">
      <div href="#" class="step1">
        <img src="/images/screenInstructionNormal.png" />
        <span>See How It Works</span>
        <div class="step2">
          <img src="/images/screenInstructionActive.jpg" />
          <p class="indication1">
            You'll see something like this added to your browser
          </p>
          <p class="indication2">
            When you add new items a window will pop up like this
          </p>
        </div>
      </div>
      <div class="step2">
        <img src="/images/screenInstructionActive.jpg" />
        <p class="indication1">
          You'll see something like this added to your browser
        </p>
        <p class="indication2">
          When you add new items a window will pop up like this
        </p>
      </div>
    </div>
  </div>

  <!-- for other browsers: bookmarklet -->

  <div class="whitePanel topBkPanel modeBk">
    <div class="installbookmarkletBlock">
      <div class="btnBookmarklet">
        <a
          id="bookmarklet"
          class="greenButton"
          onclick="setTimeout(function(){alert('Please drag &amp; drop this button to your browser\'s bookmarks bar')},50); return false;"
          title="Drop this button to the bookmarks bar of your web browser"
          href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://openwhyd.org/js/bookmarklet.js?'+(new Date()).getTime();;})();"
        >
          Openwhyd ✚ Track<span class="icon"></span>
        </a>
      </div>
      <p class="legend">
        Simply drag the button to the bookmarks bar of your browser, then click
        "OK" when prompted to choose a name for this bookmark.
      </p>
      <p>
        <a href="#linkToInstall" id="linkToInstall"
          >You don’t see the bookmarks bar in your browser?</a
        >
      </p>
    </div>
  </div>

  <div class="whitePanel modeBk">
    <h2>What's that?</h2>
    <p>
      To instantly add tracks to your Openwhyd stream that you find across the
      web, from any website, we built the Openwhyd "add track" button. Drag the
      button to your bookmarks bar to install it, and then you can save the new
      tracks you find and share immediately from sites like Facebook and music
      blogs. It's super fast and super simple.
    </p>
    <div class="work">
      <p>Work with track from:</p>
      <ul>
        <li>
          <img
            src="/images/youtubeLogoExtension.png"
            alt="Youtube"
            width="70"
            height="40"
          />
        </li>
        <li class="special">
          <img
            src="/images/soundcloudLogoExtension.png"
            alt="Soundcloud"
            width="70"
            height="40"
          />
        </li>
        <li class="last">
          <img
            src="/images/vimeoLogoExtension.png"
            alt="Vimeo"
            width="70"
            height="40"
          />
        </li>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="howToUseButtonNormal">
      <div class="step1">
        <img src="/images/screenInstructionBookmarkletNormal.png" />
        <span>See How It Works</span>
      </div>

      <div class="step2">
        <img src="/images/screenInstructionBookmarkletActive.png" />
        <p class="indication1 indicBookmarklet1">
          You'll see something like this added to your browser
        </p>
        <p class="indication2 indicBookmarklet2">
          When you add new items a window will pop up like this
        </p>
      </div>
    </div>
  </div>

  <div class="whitePanel modeBk sectionHowToInstall">
    <h2 id="installTest">How to install:</h2>

    <ul class="howtoinstall">
      <!-- CONDITIONAL PART: depends on the user's web browser -->
      <li class="instr chrome first" style="hidden">
        <span class="puce">1</span>
        <h6>Ensure that the bookmarks bar in Google Chrome is enabled.</h6>
        <p>
          To do so, click the wrench in the top right corner of your browser.
          Then go to Bookmarks, and make sure that there is a check next to
          "Always Show Bookmarks Bar."
        </p>
        <div class="clear"></div>
      </li>

      <li class="instr firefox first" style="hidden">
        <span class="puce">1</span>
        <h6>Ensure that the bookmarks bar in Firefox is enabled.</h6>
        <p>
          To do so, display your bookmarks bar by clicking View > Toolbars >
          Bookmarks Toolbar
        </p>
      </li>

      <li class="instr safari first" style="hidden">
        <span class="puce">1</span>
        <h6>Ensure that the bookmarks bar in Safari is enabled.</h6>
        <p>
          To do so, display your bookmarks bar by clicking
          <strong>View > Toolbars > Bookmarks Toolbar</strong>
        </p>
      </li>

      <li class="instr msie8 first" style="hidden">
        <span class="puce">1</span> In Internet Explorer 8, display your
        bookmarks bar by clicking
        <strong>Tools &gt; Toolbars &gt; Favorites Bar</strong>
      </li>

      <li class="instr msie first" style="hidden">
        <span class="puce">1</span> In Internet Explorer, display your bookmarks
        bar by right-clicking the top grey area of the browser, then click on
        <strong>Favorites Bar</strong>
      </li>

      <!-- END OF CONDITIONAL PART -->

      <li>
        <span class="puce">2</span>
        <h6>Drag this button, and drop it in your bookmarks bar</h6>
        <p class="bookmarkletHowToInstall">
          <a
            id="bookmarklet"
            class="greenButton"
            onclick="setTimeout(function(){alert('Please drag &amp; drop this button to your browser\'s bookmarks bar')},50); return false;"
            title="Drop this button to the bookmarks bar of your web browser"
            href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='https://openwhyd.org/js/bookmarklet.js?'+(new Date()).getTime();;})();"
          >
            Openwhyd ✚ Track<span class="icon"></span>
          </a>
        </p>
        <div class="clear"></div>
      </li>
      <li class="last">
        <span class="puce">3</span>
        <h6>
          While browsing the web, click on "Openwhyd ✚ Track" whenever you see
          some music you want to add to your library
        </h6>
        <div class="clear"></div>
      </li>
    </ul>

    <!--<div class="video">
			<a href="http://player.vimeo.com/video/59426075?autoplay=1" target="_blank" title="Watch the video tutorial"></a>
		</div>-->
  </div>

  {{/stepButton}}

  <script type="text/javascript" src="/js/onboarding.js"></script>
  <script>
    /*<![CDATA[*/
    $(document).ready(function () {
      /*{{#stepGenres}}*/ initOnbGenres(); /*{{/stepGenres}}*/
      /*{{#stepPeople}}*/ initOnbPeople('{{{genres}}}'); /*{{/stepPeople}}*/
      /*{{#stepButton}}*/ initOnbButton(); /*{{/stepButton}}*/
    });
    /*]]>*/
  </script>
</div>
