{{#posts}}
<div
  class="post {{cssClass}}"
  data-pid="{{id}}"
  data-score="{{score}}"
  data-order="{{#order}}{{n}}{{/order}}"
  data-initialpid="{{#repost}}{{pId}}{{/repost}}"
  data-loved="{{#isLoved}}true{{/isLoved}}"
  data-time="{{agoTimestamp}}"
>
  <div class="playBar"></div>

  <a
    class="thumb"
    href="{{trackUrl}}"
    target="_blank"
    data-eid="{{eId}}"
    onclick="return playTrack(this);"
    style="background-image:url('{{img}}');"
  >
    <img src="{{img}}" />
    <div class="play"></div>
  </a>

  <h2>
    <a
      href="{{postUrl}}"
      class="no-ajaxy"
      onclick="toggleComments('{{id}}');return false;"
      >{{name}}</a
    >
  </h2>

  <p class="author">
    <span style="background-image:url('/img/u/{{uId}}');"></span>
    <a href="/u/{{uId}}">{{uNm}}</a> {{#showAdded}}added this
    track{{/showAdded}} {{#pl}} to <a href="{{plUrl}}">{{name}}</a> {{/pl}}
    {{#repost}} via <a href="/u/{{uId}}">{{uNm}}</a>
    {{/repost}}
  </p>

  <span class="ago" datetime="{{agoTimestamp}}">
    <a href="{{postUrl}}">{{agoRendered}}</a>
  </span>

  <div class="stats">
    <span
      class="nbReposts"
      style="{{^hasReposts}}display:none;{{/hasReposts}}"
      onclick="javascript:showReposts('{{id}}')"
    >
      <span>{{nbReposts}}</span>
    </span>
    <span
      class="nbLoves"
      style="{{^hasLoves}}display:none;{{/hasLoves}}"
      onclick="javascript:showPostLovers('{{id}}')"
    >
      <span>{{nbLoves}}</span>
    </span>
    <span
      class="nbComments"
      style="{{^hasComments}}display:none;{{/hasComments}}"
      onclick="toggleComments('{{id}}');"
    >
      <span>{{nbComments}}</span>
    </span>
  </div>

  <div class="btns">
    <a class="btnRepost" href="javascript:publishPost('{{id}}');"> Add to </a>
    <span>&middot;</span>
    <a
      class="btnLike {{#isLoved}}selected{{/isLoved}}"
      href="javascript:toggleLovePost('{{id}}');"
    >
      {{#isLoved}}Liked{{/isLoved}} {{^isLoved}}Like{{/isLoved}}
    </a>
    <span>&middot;</span>
    <a class="btnComment" href="javascript:toggleComments('{{id}}');">
      Comment
    </a>
    <span>&middot;</span>
    <a class="btnShare" href="javascript:sharePost('{{id}}');">
      <span> Share </span>
    </a>
    {{#ownPost}}
    <span class="postEdit">
      <span>&middot;</span>
      <a onclick="modalPostEditBox('{{id}}')"> Edit </a>
    </span>
    {{/ownPost}}
    <span class="tags">
      <span>&middot;</span>
      {{#tags}}<a class="tag" href="{{url}}">{{id}} ({{c}})</a>{{/tags}}
    </span>
  </div>

  <div class="ext hidden">
    <p>
      {{dateRendered}} {{#via}} &middot; Via
      <a class="via {{hostClass}}" href="{{contentUrl}}">{{hostLabel}}</a>
      {{/via}} {{#src}} from
      <a class="src" href="{{id}}" title="{{name}}">{{shortenedUrl}}</a>
      {{/src}}
    </p>

    <form class="comments">
      {{#comments}}
      <div class="comment {{cssClass}}" data-cid="{{_id}}">
        <a class="author" href="/u/{{uId}}">
          <span style="background-image:url('/img/u/{{uId}}');"></span>
          <p>
            {{uNm}}
            <span class="t">{{tRendered}}</span>
          </p>
        </a>
        <p class="text">{{{html}}}</p>
        {{#canDelete}}
        <div class="delete"></div>
        {{/canDelete}}
      </div>
      {{/comments}} {{#loggedUser}}
      <div class="newComment">
        <span class="author">
          <span style="background-image:url('/img/u/{{id}}');"></span>
        </span>
        <div>
          <textarea
            class="commentEntry mention"
            placeholder="Comment"
          ></textarea>
        </div>
      </div>
      <div class="newTip">
        <input type="submit" value="Post comment" />
        <p>Tip: You can mention people with "@"</p>
      </div>
      {{/loggedUser}}
    </form>
  </div>
</div>
{{/posts}}
