<style>
  .sideBox > div {
    overflow: auto;
  }

  .sideBox > div > p {
    margin-bottom: 8px;
  }

  #sideBoxLinks {
    margin: 12px 0;
    text-align: center;
    font-size: 14px;
  }

  #sideBoxLinks a {
    color: #3177af;
    display: inline-block;
    border-radius: 2rem;
    background-color: #fafafa;
    padding: 8px 12px;
    margin: 8px;
  }

  #sideBoxLinks a:hover {
    background-color: #62a1d3;
    color: #fff;
  }
</style>

<div class="sideBox sidebox--important">
  <div class="head">
    <h2>🌠 Wanted: Mobile Developer</h2>
  </div>
  <div class="body">
    <img
      src="/images/github-octocat.png"
      width="64px"
      style="float: left; margin-right: 16px"
      alt="contribute to open-source project openwhyd on github"
    />
    <p>Hundreds of Openwhyd users are still hoping for a mobile app!</p>
    <p>If you want to help us build one, come say Hi!</p>
    <div id="sideBoxLinks">
      <a
        href="https://github.com/openwhyd/openwhyd/issues/194"
        target="_blank"
        class="no-ajaxy"
        >on GitHub</a
      >
      <a
        href="https://www.facebook.com/openwhyd"
        target="_blank"
        class="no-ajaxy"
        >on Facebook</a
      >
    </div>
    <p>Beginners are welcome 🤗 and will be guided through the process.</p>
  </div>
</div>
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>😌 Progress with YouTube API</h2>
  </div>
  <div class="body">
    <p>After YouTube reduced our API quota, <a href="https://github.com/openwhyd/openwhyd/issues/262" target="_blank"
        class="no-ajaxy">we worked hard</a> to make it possible to post tracks again. Bonus: <a href="/button">Openwhyd
        + Track</a> button got faster! 💪</p>
    <p>If you notice any bug related to posting and/or editing tracks on Openwhyd, please let us know.</p>
    <div id="sideBoxLinks">
      <a href="https://www.facebook.com/openwhyd" target="_blank" class="no-ajaxy">on Facebook</a>
      <a href="https://github.com/openwhyd/openwhyd/issues/new/choose" target="_blank" class="no-ajaxy">on GitHub</a>
    </div>
    <p>Thanks for your patience and loyalty, dear music lovers, you rock! 😍</p>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>😓 Issues with YouTube API</h2>
  </div>
  <div class="body">
    <p>Our YouTube API quota was greatly reduced. As a result, you may sometimes not be able to add YouTube tracks to
      your Openwhyd account.
    </p>
    <p>We're currently working on this. Any help is welcome!</p>
    <div id="sideBoxLinks">
      <a href="https://www.facebook.com/openwhyd" target="_blank" class="no-ajaxy">on Facebook</a>
      <a href="https://github.com/openwhyd/openwhyd/issues/262" target="_blank" class="no-ajaxy">on GitHub</a>
    </div>
    <p>Thanks for your patience and understanding.</p>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>🤗 Openwhyd needs you!</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <a href="https://openwhyd.org/contribute" target="_blank" class="no-ajaxy">
      <img src="/images/github-octocat.png" width="64px" style="float:left; margin-right:16px;"
        alt="contribute to open-source project openwhyd on github">
    </a>
    <p style="margin-bottom:8px;">Help us keep Openwhyd free and independent by donating $1 today!</p>
    <p style="margin-bottom:8px;">Developers, contribute to our open-source project on GitHub!</p>
    <div id="contribChoices" style="margin: 12px 0; text-align: center; font-size: 14px;">
      <a href="https://opencollective.com/openwhyd/donate" target="_blank" class="no-ajaxy">Donate</a>
      <a href="https://openwhyd.org/contribute" target="_blank" class="no-ajaxy">Improve Openwhyd</a>
    </div>
  </div>
  <style>
    #contribChoices a {
      color: #3177AF;
      display: inline-block;
      border-radius: 2rem;
      background-color: #fafafa;
      padding: 8px 12px;
      margin: 8px;
    }

    #contribChoices a:hover {
      background-color: #62A1D3;
      color: #fff;
    }
  </style>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>😓 Issues with YouTube API</h2>
  </div>
  <div class="body">
    <p>YouTube has disabled our access to their API, preventing Openwhyd users from adding YouTube tracks.</p>
    <p>We're currently working hard on fixing this. Thanks for your patience and understanding!</p>
    <p>You can follow our progress:</p>
    <div id="sideBoxLinks">
      <a href="https://www.facebook.com/openwhyd" target="_blank" class="no-ajaxy">on Facebook</a>
      <a href="https://github.com/openwhyd/openwhyd/commits/master" target="_blank" class="no-ajaxy">on GitHub</a>
    </div>
  </div>
</div>
-->
<!--
<div class="sideBox" id="speakerLandingBox">
  <div class="body">
    <h2>Experience music like never before.</h2>
    <p>Get news about the launch of our new product before everyone else.</p>
    <a href="http://home.whyd.com?src=whyd" target="_blank">Get notified</a>
  </div>
</div>
<div class="sideBox" id="iphoneAppAd">
  <div class="head">
    <h2>Openwhyd also runs on your iPhone!</h2>
    <div class="postRemove" title="Remove this box"></div>
  </div>
  <div class="body">
    <img src="/images/illustrationIphoneApp.png" alt="whyd iphone mobile app screenshot">
    <a href="/iphone" target="_blank" class="no-ajaxy">
      <span>Install Openwhyd from the App Store</span>
    </a>
  </div>
</div>
-->
<!--
<div class="sideBox">
  <div class="head">
    <h2>Join our community on Facebook</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <img src="/images/megaphone.png" width="64px" height="64px" style="float:left; margin-right:16px;" alt="openwhyd announcement megaphone">
    <p style="margin-bottom:8px;">Want to meet fellow Openwhyd users, share an idea, or ask a question?</p>
    <a href="https://www.facebook.com/groups/openwhyd/" target="_blank" class="no-ajaxy">Join the music lovers club</a>
  </div>
</div>
-->
<!--
<div class="sideBox">
  <div class="head">
    <h2>What is Openwhyd?</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <img src="/images/logo2-square-512px.png" width="64" height="64" style="float:left; margin-right:16px;" alt="openwhyd announcement logo music">
    <p style="margin-bottom:8px;">A community of volunteers!</p>
    <a style="display: block;" href="https://medium.com/@adrienjoly/music-amongst-other-topics-a4f41657d6d" target="_blank" class="no-ajaxy">→ Read our story</a>
    <a style="display: block;" href="https://www.facebook.com/groups/openwhyd/" target="_blank" class="no-ajaxy">→ Join the music lovers club</a>
  </div>
</div>
-->
<!--
<div class="sideBox sidebox--important">
  <div class="head">
    <h2>💓 Openwhyd needs you!</h2>
  </div>
  <div class="body" style="overflow:auto;">
    <a href="https://opencollective.com/openwhyd#support" target="_blank" class="no-ajaxy">
      <img src="/images/github-octocat.png" width="64px" style="float:left; margin-right:16px;" alt="donate / support openwhyd on opencollective">
    </a>
    <p style="margin-bottom:8px;">Help us keep Openwhyd free, independant and without ads.</p>
    <p style="margin-bottom:12px;font-weight:bold;">Donate today!</p>
    <div id="donateBox" style="margin: 12px 0; text-align: center; font-size: 14px;">
      <a href="https://opencollective.com/openwhyd/donate" target="_blank" class="no-ajaxy">
        <span style="padding: 8px;">$1</span>
        <span style="padding: 8px;">$2</span>
        <span style="padding: 8px;">$5</span>
        <span style="padding: 8px;">$10</span>
        <span style="padding: 8px;">$20</span>
      </a>
    </div>
  </div>
  <style>
    #donateBox a { color: #3177AF; }
    #donateBox span { display: inline-block; width: 28px; border-radius: 2rem; background-color: #fafafa; }
    #donateBox span:hover { background-color: #62A1D3; color: #fff; }
  </style>
</div>
-->
